{% extends './base.html' %}
{% block content %}
	<div id="wrapper" class="container-fluid border border-danger">
		{% for c in cards %}
			<a href="/card/{{c.id}}"><img class="w-25 m-0" src="{{c.image_normal}}"/></a>
		{% endfor %}
	</div>
	<div id="naver">
		{% if page_one %}
			|<a href="/cards/{{next_page}}/">Next</a>
		{% else %}
			{% if last_page %}

				<a href="/cards/{{prev_page}}/">Prev</a>
			{% else %}
				<a href="/cards/{{prev_page}}/">Prev</a>|<a href="/cards/{{next_page}}/">Next</a>
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
