{% extends './base.html' %}
	{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
	{% block content %}
		<form action="/card_search/" method="post">
			{% csrf_token %}

				{{search_form.card_name.label}}
				{{search_form.card_name}}



				{{search_form.any_text.label}}
				{{search_form.any_text}}


				<div class="form-check p-0">
					<p>{{search_form.colors.label}}</p>
					{% for c in search_form.colors %}
						{{c}}
					{% endfor %}
				</div>

				{{search_form.exactly_or_not.label}}
				{{search_form.exactly_or_not}}


				<div class="form-check p-0">
					<p>{{search_form.colors_identity.label}}</p>	
					{% for c in search_form.colors_identity%}
						{{c}}
					{% endfor %}
				</div>
				<div class="form-check p-0">
					<p>{{search_form.rarity.label}}</p>	
					{% for r in search_form.rarity %}
						{{r}}
					{% endfor %}
				</div>

				{{search_form.mpt.label}}
				{{search_form.mpt}}
				{{search_form.mpt_condition}}
				{{search_form.mpt_parameter}} 



				{{search_form.lrb.label}}
				{{search_form.lrb}}
				{{search_form.game_types}}



				{{search_form.type_line.label}}
				{{search_form.type_line}}
			<button type="submit" class="btn btn-primary mb-3">Submit</button>
		</form>
	{% endblock %}	